@import 'colors';
@import 'aligns';
@import 'sizes';
@import 'textstyles';
@import 'paddings';
@import 'radius';

//@product-height: 109px;

.venue-box {

	position:relative;

  > .venue-box-top {

    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);	
    z-index: 1;

    > .left-column {

      > .square-image {

        position: absolute;
        z-index: 1000;
        margin-top: -16px;

      }
    }

    > .middle-column {
      padding-left: @box-padding-horizontal;
    }

    > .middle-column.has-brand-picture {
      padding-left: @size-square-image-is-big + 1px;
    }

  }


    > .venue-box-products {

      width: 100%;
      //height: @product-height;
      overflow: hidden;

      border-top: 1px solid @grey09;

      -webkit-transform: translateZ(0);


      > .venue-box-products-swipe {

        position:relative;
        //height: @product-height;
        overflow: visible;

        -webkit-transform: translateZ(0);
        -webkit-transition: -webkit-transform 200ms ease-in-out;

        > .venue-product {

          position: absolute;
          width: 100%;
          //height: @product-height;
          //-webkit-overflow-scrolling: touch;
          -webkit-transform: translateZ(0);

          background-size: 100% 100%;
          background-repeat: no-repeat;



        }

        > .venue-product.is-loading {

          background-color: @grey05;

        }


      }

      > .venue-box-price-label {

        position: absolute;
        float: right;
        //margin-top: @product-height*(-1) - 1px;
        right: @box-padding-horizontal;

      }

      > .carousel-circles {

        position: relative;
        top: -13px;
        left: 16px;

      }

    }


}


.venue-box {

    > .venue-box-products {

      border-bottom-left-radius: @border-box-radius-size;
      border-bottom-right-radius: @border-box-radius-size;

      > .venue-box-products-swipe {

        > .venue-product {

          border-bottom-left-radius: @border-box-radius-size;
          border-bottom-right-radius: @border-box-radius-size;

        }

      }
    }

}


.venue-box.has-description, .venue-box.has-people {

    > .venue-box-products {
      border-bottom: 1px solid @grey09;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      > .venue-box-products-swipe {

        > .venue-product {

          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

        }

      }
    }

    > .venue-box-bottom {

      min-height: 12px;
      border-top: 1px solid rgba(255,255,255,0.7);
      width: 100%;

    }

}


.venue-box.has-people {

  > .venue-box-bottom {


    > .images.h-scroller {

      margin-left: @box-padding-horizontal;
      margin-right: @box-padding-horizontal;
      padding-bottom: @box-padding-vertical/2;

    }

  }

}


