
{{#with view}}

	<div class="three-column-table">
		
		<div class="picture left-column">

			{{view Yn.SquareImageView class=imagetype contentBinding="content" withPhoto=true }}

		</div>

		<div class="name middle-column">

			<span class="main-text">{{content.name}}</span>

			{{#if venue}}

				<div class="detail-text">

					<span class="icon with-text is-icon-x-small" icon="i">

					</span>

					{{venue.city.name}}


				</div>

			{{/if}}

		</div>

  {{#if hasPrice }}

		<div class="right-column">

      {{view Yn.PriceLabelView
        productBinding="content"}}   

    </div>

  {{/if}}	

	</div>

{{/with}}
