{{#with view}}

	<div class="two-column-table">

    <div class="picture left-column">

       {{view Yn.SquareImageView classBinding="imagetype"
        contentBinding="contentPhoto"
        isFBUserBinding="isFbUser"
        withPhoto=true }}

    </div>

		<div class="name middle-column">

      <span class="main-text">
        {{userName}}
      </span>

		</div>

</div>

{{/with}}
