{{#with view}}

	<div class="two-column-table">
		
		<div class="picture lef-column">

			{{view Yn.SquareImageView class=imagetype contentBinding="content.brand" withIcon=true }}

		</div>

		<div class="middle-column">

			<span class="main-text">{{content.name}}</span>

			{{#if content.city}}

				<div class="detail-text">

					<span class="icon with-text is-icon-x-small" icon="i">

					</span>

					{{content.city.name}}

				</div>

			{{/if}}

		</div>

	</div>

{{/with}}
