@import 'sizes';

@media only screen and (min-width: 600px) and (max-width: 960px) {

.large-button, .big-input-content {

	width: 320px;

}

.main-button {
	margin: (@size-one-space * 4) auto;
	width: 406px;
}

.main-button.single-space {
	margin: (@size-one-space * 2) auto;
}

}

//and (orientation : portrait)
