@import 'sizes';


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

  .large-button {

    width: 320px;

  }

  .main-button {

  	width: 406px;

  	> .inner-main-button {
  		
  		width: 390px;
  		top: 5px;
  		left: 8px;

  	}

  }

}

//and (orientation : portrait)