
@media only screen and (min-width: 600px) and (max-width: 960px) {

.venue-box {

	> .venue-box-content {

		> .venue-box-top {

			height: 40px;

			> .venue-left-l {

        min-width: 70px;

			}

		}

		> .venue-box-products {

				height: 220px;

		}

	}
}


.venue-box.has-description {

	> .venue-box-content {


		> .venue-box-bottom {

			display: table;
			height: 30px;
			padding: 8px;

			> .detail-text {

				display: table-cell;
				vertical-align: middle;

			}

		}

	}

}

}
