NERD_*
packages/ember-handlebars-format
packages/ember-handlebars
packages/ember-metal
packages/ember-mk
packages/ember-runtime
packages/ember-states
packages/ember-touch
packages/ember-views
packages/ember-data
packages/ember
packages/handlebars
packages/metamorph
packages/yoin-ember
source/*
tmp
*swp
*.DS_Store
*pyc
*sqlite
