@import 'aligns';
@import 'sizes';
@import 'colors';



@height: @standard-button-height;
@width: @standard-button-height - 5;
@base-color: lighten(@orange01,5%);
@background-color: darken(@base-color, 2%);



@real-height: @height - 2px;

.activity-button {


  height: @real-height;
  width: @width;


  line-height : @real-height;

  // this properties shoud be shared
  border-radius: 2px;
  //box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1) inset;

  background-color: @base-color;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@base-color), color-stop(60%, darken(@base-color, 2%)), color-stop(100%, darken(@base-color, 10%))); 
 
  -webkit-box-shadow: inset 0 1px 1px 0 darken(@base-color, 0.5%), 0 1px 0 0 rgba(255, 255, 255, 0.3);


}


.activity-button, .activity-button:after {

  
  border: 1px solid darken(@base-color, 8%);


}


.activity-button:after {

    position:absolute;
    content : ' ';

    left: -4px;
    top: 8px;
    height: 10px;
    width: 10px;

    /*
    background-image:  
        -webkit-gradient(linear, left bottom, right top, 
            from(rgba(0,0,0,0)), 
            color-stop(0.5, rgba(0,0,0,0)), 
            color-stop(0.5, rgba(255,255,255,0.1)), 
            to(rgba(255,255,255,0.3))); 
    */

    -webkit-transform : rotate(-45deg) skew(-10deg, -10deg);


    // hide triangle
    -webkit-mask-image : 
      -webkit-gradient(linear, left top, right bottom, 
        from(#000000), 
        color-stop(0.35, #000000), 
        color-stop(0.36, transparent), 
        to(transparent));

    background-color: @background-color;

    border-radius : 0px;

}

// check relation with buttongs
/*
 TODO: use global icon size var
  @normal-icon:24px;
  top: 50%;
  left: 50%;
  margin-left: -0.5*@normal-icon;
  margin-top: -0.5*@normal-icon;
*/


.activity-button:before {

  position: absolute;

  text-align: center;
  width: 100%;
  line-height: @height;

  content: 'h';

  color: darken(@base-color, 18%);
  //text-shadow: 0 -1px 0px rgba(255, 255, 255, 0.3);

}



.activity-button:active {
  
    background-color: darken(@base-color, 9%); 

}


.activity-button:active:after {

      background-color: darken(@base-color, 9%);
      
}

.activity-button:active:before {
      
      height: 95%;

      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;

      color: darken(@base-color, 25%);
      background-color: darken(@base-color, 9%);
      
}



//The user has new notification

.activity-button.has-one {

}

.activity-button.has-one:after {
    
}

.activity-button.has-one:before {
    
    color:@white00;
}


.activity-button.has-one:active:before {
    
    color: lighten(@base-color, 25%)

}





