@import 'aligns';
@import 'sizes';


@background-color: rgba(274,108,15,1);
@button-height: 30px;

.back_button {

    // this about to use .header.l-right 
    position: absolute;
    top: 4px;
    left: 17px; 




    z-index : 0;
    height: @button-height;
    min-width: 30px;

    background-color: @background-color;

    padding: 0 10px 0 6px;

    // half transparency
    background-image: -webkit-linear-gradient(
        bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 50%,
        rgba(255,255,255,0.1) 50%,
        rgba(255,255,255,0.3) 100%
        );
    border-radius: 5px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
    box-shadow :0 -1px 1px rgba(0,0,0,0.2)inset,
                0 1px 2px rgba(0,0,0,0.8)inset;
    

    // font 
    font-weight: 400;
    font-size : 12px;
    line-height : @button-height;
    text-align:center;
    color:#fff;
    text-shadow : 0px -1px 0px rgba(0,0,0,0.8);

}

.back_button:before{

    position:absolute;
    content : ' ';
    z-index : 1;

    left: -8px;
    top: 3.5px;
    height: 24px;
    width: 24px;

    background-color: @background-color;

    background-position :-1px -0.5px;

    // half transparency
    background-image:  
        -webkit-gradient(linear, left bottom, right top, 
            from(rgba(0,0,0,0)), 
            color-stop(0.5, rgba(0,0,0,0)), 
            color-stop(0.5, rgba(255,255,255,0.1)), 
            to(rgba(255,255,255,0.3))); 



    -webkit-transform : rotate(-45deg) skew(-10deg, -10deg);

    border-top-right-radius : 10px;
    border-top-left-radius :0px;
    border-bottom-right-radius : 0px;
    border-bottom-left-radius : 10px;

    border-left : 1.5px solid rgba(255,255,255,0.4);
    box-shadow :  1px 1px 1px rgba(0,0,0,0.4) inset,
        -1px 1px 1px rgba(0,0,0,0.5) inset;

    // hide triangle
    -webkit-mask-image : 
        -webkit-gradient(linear, left top, right bottom,
            from(#000000), 
            color-stop(0.4,#000000), 
            color-stop(0.5, transparent), 
            to(transparent));

}
