@import 'colors';
@import 'sizes';
@import 'buttons';


.rectangle-button {

	height: 29px;
	border-radius: @border-button-radius-size;

}

.rectangle-button.is-small {

    width: 40px;

}

.rectangle-button.is-medium {
    
    width: 59px;

}

.rectangle-button.is-large {

	width: 310px;
	top: 7px;
	left: 5px;
	text-align: center;
	line-height: 30px;

}

.large-button {

	height: 44px;
	width: 265px;
	border-radius: @border-box-radius-size;

}


.large-button.is-black, .large-button.single.is-black, .rectangle-button.is-black, .rectangle-button-adaptative.is-black {

  .rectangle-button-style (@black00);

}


.large-button.is-black:active, .large-button.single.is-black:active, .rectangle-button.is-black:active, .rectangle-button-adaptative.is-black:active {

  .rectangle-button-active-style (@black00);

}


.large-button.is-orange, .large-button.single.is-orange, .rectangle-button.is-orange, .rectangle-button-adaptative.is-orange {

  .rectangle-button-style (@orange01);

}


.large-button.is-orange:active, .large-button.single.is-orange:active, .rectangle-button.is-orange:active, .rectangle-button-adaptative.is-orange:active {

  .rectangle-button-active-style (@orange01);

}


.large-button.is-blue, .large-button.single.is-blue, .rectangle-button.is-blue, .rectangle-button-adaptative.is-blue {

  .rectangle-button-style (@blue00);

}

.large-button.is-blue:active, .large-button.single.is-blue:active, .rectangle-button.is-blue:active, .rectangle-button-adaptative.is-blue:active {

  .rectangle-button-active-style (@blue00);

}

.large-button.is-grey, .large-button.single.is-grey, .rectangle-button.is-grey, .rectangle-button-adaptative.is-grey {

  .rectangle-button-style (@grey07);

}

.large-button.is-grey:active, .large-button.single.is-grey:active, .rectangle-button.is-grey:active, .rectangle-button-adaptative.is-grey:active {

  .rectangle-button-active-style (@grey07);

}


.rectangle-button-adaptative {

	display: table;
	border-radius: @border-button-radius-size;
	padding: 1px 10px 0;
	line-height: 28px;
	text-align: center;
	white-space: nowrap;
	
}

.large-button.single {

	text-align: center;
	line-height: 46px;
	
}








//--------------------WEB ICONS ------------------



.large-button.icon:before, .rectangle-button.icon:before {
  
  position: absolute;
  top: 50%;
  left: 50%;

  //font icon style
  color:@white00;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.9);




}


@small-icon:21.875px;
@height-margin:-0.65;
.large-button.icon.is-icon-small:before, .rectangle-button.icon.is-icon-small:before {
  
	/*Override is-icon-small font-size*/
	font-size: @small-icon;
  margin-left: -0.5*@small-icon;
  margin-top: @height-margin*@small-icon;

  
}

@normal-icon:28px;
.large-button.icon:before, .rectangle-button.icon:before {
  
	/*Override is-icon-normal font-size*/
	font-size: @normal-icon;
  margin-left: -0.5*@normal-icon;
  margin-top: @height-margin*@normal-icon;

  
}

@big-icon:39.375px;
.large-button.icon.is-icon-big:before, .rectangle-button.icon.is-icon-big:before {

	/*Override is-icon-big font-size*/
	font-size: @big-icon;
  margin-left: -0.5*@big-icon;
  margin-top: @height-margin*@big-icon;

}


