@import 'aligns';
@import 'sizes';
@import 'colors';



.invite-button {

  background-color: yellow;

  border-radius: 5em;

  > .invite-button-inner {

    position:relative;

    margin-top: 10px;
    margin-left: 15px;

    border-radius: 5em;
    background-color: orange;


    > .invite-button-label {

    }

    > .invite-button-price {

    }

  }

}


.invite-button {

  height: 90px;
  width: 120px;

  > .invite-button-inner {

    height: 70px;
    width: 90px;

  }
}


.invite-button.is-small {

  height: @invite-button-small-height;
  width: @invite-button-small-width;

  > .invite-button-inner {

    height: 50px;
    width: 70px;

  }

}
