@import 'colors';
@import 'sizes';
@import 'buttons';
@import 'radius';


.inner-double-button-style(@color:white) {

  background-color: @color;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%);
  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.45)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0)));

  border-top: 1px solid (rgba(255,255,255,0.8));
  
  -webkit-box-shadow: 0 0 0 1px (darken(@color, 30%)), 0 2px 0 0 (rgba(0,0,0,0.4));
  box-shadow: 0 0 0 1px (darken(@color, 30%)), 0 2px 0 0 (rgba(0,0,0,0.4));


}

.inner-double-button-active-style(@color:white) {

  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.45) 100%);
  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.45)));

  border-top: 1px solid (darken(@color, 10%));
  
  -webkit-box-shadow: 0 0 0 1px (darken(@color, 30%)), inset 0 0px 8px 0 (darken(@color, 20%));
  box-shadow: 0 0 0 1px (darken(@color, 30%)), inset 0 0px 8px 0 (darken(@color, 20%));

}

// ------------------------------- local functions

//The WIDTH is in the Media Query Files
@inner-v-margin: 6px;
.main-button {
  
  // equals than common buttons
  position:relative;
	border-radius: @border-box-radius-size;
	height: @big-button-height - 2;
	

  background-color: @grey03;
  -webkit-box-shadow: inset 0 1px 3px 0 (darken(@grey03, 25%)),  0 1px 0 0 (rgba(255,255,255,0.7));
  box-shadow: inset 0 1px 3px 0 (darken(@grey03, 25%)),  0 1px 0 0 (rgba(255,255,255,0.7));
	
	> .inner-main-button {

		position: relative;
		border-radius: @border-single-radius-size;

    height: @big-button-height - 2 - @inner-v-margin*2 ;
		width: 96%;

		top: @inner-v-margin;
		left: 2%;

    line-height: @big-button-height - 2 - @inner-v-margin*2 ;
		text-align: center;

	}

}

// -------------------------------- colors
    
.main-button.is-blue {
	> .inner-main-button {
		.inner-double-button-style (@blue00);
	}
}

.main-button.is-black {
	> .inner-main-button {
		.inner-double-button-style (@black00);
	}
}

.main-button.is-green {
	> .inner-main-button {
		.inner-double-button-style (@green01);
	}
}

.main-button.is-red {
	> .inner-main-button {
		.inner-double-button-style (@red00);
	}
}

.main-button.is-blue:active, .main-button.is-blue.is-pending, .main-button.is-blue.touch {
	> .inner-main-button {
		.inner-double-button-active-style (@blue00);
	}
}


.main-button.is-black:active, .main-button.is-black.is-pending, .main-button.is-black.touch {
	> .inner-main-button {
		.inner-double-button-active-style (@black00);
	}
}


.main-button.is-green:active, .main-button.is-green.is-pending, .main-button.is-green.touch {
	> .inner-main-button {
		.inner-double-button-active-style (@green01);
	}
}

.main-button.is-red:active, .main-button.is-red.is-pending, .main-button.is-red.touch {
	> .inner-main-button {
		.inner-double-button-active-style (@red00);
	}
}
