@import 'colors';
@import 'sizes';
@import 'buttons';

.main-button {

	position: relative;
	height: @main-button-outer-height;
	width: @main-button-outer-width;
	.external-large-button-style (@grey03);
	border-radius: @magin-double-button+@border-button-radius-size;
	
	> .inner-main-button {

		position: relative;
		height: @main-button-inner-height;
		width: @main-button-inner-widht;
		border-radius: @border-button-radius-size;
		top: @magin-double-button;
		left: @magin-double-button;
		text-align: center;
		line-height: 33px;

	}

}
    
.main-button.is-blue {
	
	> .inner-main-button {
	
		.inner-double-button-style (@blue00);

	}
	
	> .inner-main-button:active {
	
		.inner-double-button-active-style (@blue00);

	}
	
}


