@import 'sizes';

@size: @map-button-size;

.map-button {

  height: @size;
  width: @size;

  border-radius: @size;
  border: 2px solid black;

	background-image: url(assets/buttons/map.png);
  background-repeat:no-repeat;
  background-position:center center;

  -webkit-background-size: 100% 100%, auto;
  background-size: 100% 100%, auto;

  background-color: white;

}
