@import 'colors';
@import 'sizes';
@import 'buttons';
@import 'textstyles';

@height-tab: @standard-button-height - 1; 
@vertical-margin: 7px;
@horizontal-margin: 1.5%;
@height-tabs: (@height-tab)+(2*@vertical-margin) + 1px;

.tabs {

	width: 100%;
	height: @height-tabs;
	background-color: @grey04;
	
	> .tab {

		height: @height-tab;
		float: left;
		line-height: (@height-tab) + 1;
		.rectangle-button-style (@grey07);
		text-align: center;
		margin-top: @vertical-margin;
		margin-bottom: @vertical-margin;
		.button-text-style;
		.button-text-is-font-black-style;

	}
	
	> .tab:active {

		.rectangle-button-active-style (@blue00);
		.button-text-style;
		.button-text-is-font-white-style;

	}

	> .tab.is-selected {

		.rectangle-button-active-style (@blue00);
		.button-text-style;
		.button-text-is-font-white-style;

	}

	> .tab.left {

		border-top-left-radius: @border-button-radius-size;
		border-bottom-left-radius: @border-button-radius-size;
		margin-left: @horizontal-margin;
		
	}


	> .tab.right {

		border-top-right-radius: @border-button-radius-size;
		border-bottom-right-radius: @border-button-radius-size;
		margin-right: @horizontal-margin;

	}
	
	> .tab.single {
	
		//Left side
		border-top-left-radius: @border-button-radius-size;
		border-bottom-left-radius: @border-button-radius-size;
		margin-left: @horizontal-margin;
		//Right side
		border-top-right-radius: @border-button-radius-size;
		border-bottom-right-radius: @border-button-radius-size;
		margin-right: @horizontal-margin;
		
	}

}


.tabs.is-one-item {

	> .tab {
	
		width: (100% - (@horizontal-margin * 2));
	
	}

}


.tabs.is-two-items {

	> .tab {
	
		width: (100% - (@horizontal-margin * 2)) / 2;
	
	}

}


.tabs.is-three-items {

	> .tab {
	
		width: (100% - (@horizontal-margin * 2)) / 3;
	
	}

}

.tabs.is-four-items {

	> .tab {
	
		width: (100% - (@horizontal-margin * 2)) / 4;
	
	}

}

.tabs.is-five-items {

	> .tab {
	
		width: (100% - (@horizontal-margin * 2)) / 5;
	
	}

}


