@import 'colors';
@import 'sizes';
@import 'textstyles';
@import 'radius';
@import 'gradients';
@import 'borders';

@height-tab: @standard-button-height - 1;
@vertical-margin: 7px;
@horizontal-margin: 1.5%;
@height-tabs: (@height-tab)+(2*@vertical-margin) + 1px;


//Does not include all borders (just top)


.menu-tabs-border (@button-color:white) {

  border-top: 1px solid (rgba(255,255,255,0.8));
  -webkit-box-shadow: 0 0 0 1px (darken(@button-color, 30%)), 0 2px 0 0 (rgba(255,255,255,0.7));

}

/*
.menu-tabs-border-active (@button-color:white) {
  border-top: 1px solid darken(@button-color, 10%);
  -webkit-box-shadow: 0 0 0 1px (darken(@button-color, 30%)), inset 0 1px 3px 0 (darken(@button-color, 10%)), 0 2px 0 0 rgba(255,255,255,0.7);
}
*/


// local style functions


.menu-tabs {

	width: 100%;
	height: @height-tabs;
	background-color: @grey04;

  .ui-border-wrapper (@grey06);
  .ui-border-wrapper-small-shadow (@grey06);
	
	> .menu-tab {

		height: @height-tab;
		float: left;
		line-height: (@height-tab) + 1;
		text-align: center;
		margin-top: @vertical-margin - 1;
		margin-bottom: @vertical-margin;
    
    .ui-fill (@grey06);
	.menu-tabs-border (@grey06);

		.button-text-style;
		.button-text-is-font-black-style;

	}
	
	> .menu-tab.is-selected, > .menu-tab:active {

    .ui-fill (@blue00);

		.button-text-style;
		.button-text-is-font-white-style;

	}

	> .menu-tab.left {

		border-top-left-radius: @border-single-radius-size;
		border-bottom-left-radius: @border-single-radius-size;
		margin-left: @horizontal-margin;
		
	}


	> .menu-tab.right {

		border-top-right-radius: @border-single-radius-size;
		border-bottom-right-radius: @border-single-radius-size;
		margin-right: @horizontal-margin;
		right: 2px;

	}
	
	> .menu-tab.single {
	
		border-radius: @border-single-radius-size;
		margin-left: @horizontal-margin;
		margin-right: @horizontal-margin;
		
	}

}


.menu-tabs.is-one-item {

	> .menu-tab {
	
		width: (100% - (@horizontal-margin * 2));
	
	}

}


.menu-tabs.is-two-items {

	> .menu-tab {
	
		width: ((100% - (@horizontal-margin * 2)) / 2);
	
	}

}


.menu-tabs.is-three-items {

	> .menu-tab {
	
		width: (100% - (@horizontal-margin * 2)) / 3;
	
	}

}

.menu-tabs.is-four-items {

	> .menu-tab {
	
		width: (100% - (@horizontal-margin * 2)) / 4;
	
	}

}

.menu-tabs.is-five-items {

	> .menu-tab {
	
		width: (100% - (@horizontal-margin * 2)) / 5;
	
	}

}


