@import 'sizes';
@import 'colors';
@import 'textstyles';


//------------- functions

.plus-button (@size: 0px) {

  width: @size*0.8;
  height: @size*0.8;

  line-height: @size*0.8;
  -webkit-border-radius: @size*0.8;

  border: @size*0.1 solid @white00;

}


.plus-button-icon (@size: 0px) {
  
  font-size: (@size - 2)/2;

}


.plus-icon-style (@button-color:white) {

  background-color: @button-color;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); 
  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.45)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); 

  -webkit-box-shadow: inset 0px -2px 2px rgba(0,0,0,0.1), 0 1px 1px 0px rgba(0,0,0,0.2);

}


.plus-icon-active-style (@button-color:white) {

  background-color: @button-color;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.45) 100%); /* FF3.6+ */
  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.45))); /* Chrome,Safari4+ */

  -webkit-box-shadow: inset 0 0px 30px 0px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0,0,0,0.1), 0 1px 1px 0px rgba(0,0,0,0.2);

}



//------------------------------------------




.plus-button {

  .plus-button (@plus-button-size);

  text-align:center;
  
  .plus-icon-style (@blue00);

  //font

  .button-text-style;
  .plus-button-icon; 
  .button-text-is-font-white-style;


}


.plus-button.icon:before {

  content: 'f';

}



.plus-button.is-grey{
  
  .plus-icon-style (@grey07);


}


.plus-button:active {

  .plus-icon-active-style (@blue00);

}



.plus-button.is-grey:active {

  .plus-icon-active-style (@grey07);

}






