@import 'colors';
@import 'sizes';
@import 'buttons';
@import 'textstyles';

.large-button.is-social {

	width: @big-button-width-px + 1; //+1 for a line
	//The rest of the properties are defined in .large-button

	> .left {

		height: @big-button-height - 2;
		width: 50px;
		float: left;
		border-top-left-radius: @border-box-radius-size;
		border-bottom-left-radius: @border-box-radius-size;  
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 55%;

	}

	> .right {
		
		width: 214px;
		height: auto;
		float: right;
		text-align: center;
		margin-top: 5%; 

	}

}


.rectangle-button.is-social {

	width: @small-social-button-width;
	.button-text-is-font-white-style;
	
	> .left {

		height: @standard-button-height - 2;
		width: @small-social-button-width - 66 - 1; //One px for line
		float: left;
		border-top-left-radius: @border-button-radius-size;
		border-bottom-left-radius: @border-button-radius-size;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 60%;

	}

	> .right {

		width: @small-social-button-width - 23 - 1; //One px for line
 		height: auto;
		float: right;
		text-align: center;
		margin-top: 9%;  

	}
    
}

.rectangle-button.is-social.facebook {

	.rectangle-button-style (@blue-facebook);


	> .left {

		background-size: 75%;
		background-image: url(./assets/images/facebook.png);
		.left-large-button-style (@blue-facebook);

	}

}

.rectangle-button.is-social.facebook.is-disabled {
	
	.rectangle-button-active-style (@grey12);
	.button-text-is-font-disabled-style;

	> .left {

		background-size: 75%;
		background-image: url(./assets/images/facebook_disabled.png);
		.left-large-button-social-disable-style (@grey07);

	}

}

.rectangle-button.is-social.facebook:active, .rectangle-button.is-social.facebook.is-pending {

	.rectangle-button-active-style (@blue-facebook);

}

.rectangle-button.is-social.facebook.is-disabled:active {
	
	.rectangle-button-active-style (@grey12);
}

.rectangle-button.is-social.twitter {

	.rectangle-button-style (@blue-twitter);

	> .left {

		background-image: url(./assets/images/twitter.png);
		.left-large-button-style (@blue-twitter);

	}

}

.rectangle-button.is-social.twitter.is-disabled {
	
	.rectangle-button-active-style (@grey12);
	.button-text-is-font-disabled-style;
	
	> .left {

		background-image: url(./assets/images/twitter_disabled.png);
		.left-large-button-social-disable-style (@grey07);

	}

}

.rectangle-button.is-social.twitter:active, .rectangle-button.is-social.twitter.is-pending {

	.rectangle-button-active-style (@blue-twitter);

}

.rectangle-button.is-social.twitter.is-disabled:active {
	
	.rectangle-button-active-style (@grey12);

}


.large-button.facebook {

	.rectangle-button-style (@blue-facebook);
	.button-text-is-font-white-style;
	
	> .left {

		background-size: 65%;
		background-image: url(./assets/images/facebook.png);
		.left-large-button-style (@blue-facebook);

	}
	
}

.large-button.facebook.is-disabled {
	
	.rectangle-button-active-style (@grey12);
	.button-text-is-font-disabled-style;

	> .left {

		background-size: 65%;
		background-image: url(./assets/images/facebook_disabled.png);
		.left-large-button-social-disable-style (@grey08);

	}

}

.large-button.facebook:active, .large-button.facebook.is-pending {

	.rectangle-button-active-style (@blue-facebook);

}

.large-button.facebook.is-disabled:active {
	
	.rectangle-button-active-style (@grey12);
}

.large-button.twitter {

	.rectangle-button-style (@blue-twitter);
	.button-text-is-font-white-style;
	
	> .left {

		background-image: url(./assets/images/twitter.png);
		.left-large-button-style (@blue-twitter);

	}

}

.large-button.twitter.is-disabled {
	
	.rectangle-button-active-style (@grey12);
	.button-text-is-font-disabled-style;

	> .left {

		background-image: url(./assets/images/twitter_disabled.png);
		.left-large-button-social-disable-style (@grey07);

	}
}

.large-button.twitter:active, .large-button.twitter.is-pending  {

	.rectangle-button-active-style (@blue-twitter);

}

.large-button.twitter.is-disabled:active {
	
	.rectangle-button-active-style (@grey12);

}
