@import 'sizes';
@import 'colors';


@switch-button-internal-height: @switch-button-height - 2px;
@switch-button-internal-width: @switch-button-width - 2px;

@base-color:@grey02;
@base-color-disabled:@grey00;
@right-label-color:@blue00;



.button_corner  () {
  
  // backgrounds extends into the padding, not the border. 
  -webkit-background-clip: padding-box;
  -webkit-border-radius: @switch-button-internal-height/2 ;

}




.switch-button {

  overflow: visible;

  position: relative;
  
  height: @switch-button-internal-height;
  width: @switch-button-internal-width;

  .button_corner ();

  > .sb-label-left {

    z-index: 1;
    left: 0;

    background: @base-color; 
    background-image: -webkit-linear-gradient(darken(@base-color, 3%), lighten(@base-color, 4%));
    
    -webkit-box-shadow:inset 0px 1px 1px darken(@base-color, 15%), 0px 1px 1px @pure-white;   


  }


  > .sb-label-right {

    z-index: 0;
    right: 0;

    background: -webkit-linear-gradient(top, @right-label-color, lighten(@right-label-color, 1%) 50%, lighten(@right-label-color, 8%) 50%, lighten(@right-label-color, 13%));
    -webkit-box-shadow:inset 0px 1px 1px darken(@right-label-color, 20%), 0px 1px 1px @pure-white;  

  }


  > .sb-label {

    position: absolute;
    min-height: 100%;
    overflow: hidden;

    border-width: 0;

    .button_corner ();

  }

  > .sb-inner {

    margin: 0 @switch-button-internal-height/2;
    position: relative;
    z-index: 1;


    > .sb-inner-button {

      position: absolute;
      z-index: 1;
      top: 50%;

      width: @switch-button-internal-height - 4px;
      height: @switch-button-internal-height - 4px;

      margin-top: 1px;
      margin-left: -1*(@switch-button-internal-height/2 + 1px);

      

      .button_corner ();

      border: 1px solid lighten(@base-color, 3%);
    
      background-image: -webkit-linear-gradient(darken(@base-color, 10%), lighten(@base-color, 10%));

      -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);

    }

  }

}


.switch-button.is-disabled {


  > .sb-label-left {
    
    background: @base-color-disabled; 
    background-image: -webkit-linear-gradient(darken(@base-color-disabled, 3%), lighten(@base-color-disabled, 4%));
    
    -webkit-box-shadow:inset 0px 1px 1px darken(@base-color-disabled, 8%), 0px 1px 1px @pure-white;   
  
  }


  > .sb-label-right {
      
    background: @base-color-disabled; 
    background-image: -webkit-linear-gradient(darken(@base-color-disabled, 3%), lighten(@base-color-disabled, 4%));
    
    -webkit-box-shadow:inset 0px 1px 1px darken(@base-color-disabled, 8%), 0px 1px 1px @pure-white;   
  
  }


  > .sb-inner {
     
     > .sb-inner-button {

        border: 1px solid lighten(@base-color-disabled, 3%);
      
        background-image: -webkit-linear-gradient(darken(@base-color-disabled, 10%), lighten(@base-color-disabled, 10%));

        -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);

      }
  }


}
