@import 'sizes';
@import 'colors';



@circle-button-inner-size: @circle-button-size - 10px;

//Functions-------------------------------


.toogle-circle-button-inner-style (@button-color:white) {

  background-color: @button-color;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); 
  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.45)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); 

  box-shadow:inset 0px 1px 1px darken(@button-color, 30%), 0px 1px 1px @white00;


}



//---------------------------------------

.toogle-circle-button {

  width: @circle-button-size;
  height: @circle-button-size;
  -webkit-border-radius: @circle-button-size;


  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@grey00), color-stop(50%,@grey00), color-stop(51%,@grey03), color-stop(100%,@grey03)); 

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.3), 0px 1px 1px @white00;


  > .toogle-circle-button-inner {

    width: @circle-button-inner-size;
    height: @circle-button-inner-size;

    -webkit-border-radius: @circle-button-inner-size;

    position: relative;
    left: 50%;
    margin-left: @circle-button-inner-size*(-0.5);
    top: (@circle-button-size - @circle-button-inner-size)*0.5;


    .toogle-circle-button-inner-style (@grey04);

    
  }
}

.toogle-circle-button.is-selected {

  > .toogle-circle-button-inner {

    
    .toogle-circle-button-inner-style (@blue00);

   
  }

}
