@import 'sizes';
@import 'colors';


@aside-size: 50%;
@aside-size-big: 83%;

.aside-container {

  > .aside-front, > .aside-left, > .aside-right {
    position: absolute;
  }

  > .aside-front {
    z-index: 2;
    width:100%;
    height:100%;
    left: 0%;
  }

  > .aside-left, > .aside-right {
    top: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    left: 0px;
  }

}

.aside-container {

  > .aside-left, > .aside-right {
    width: @aside-size;
  }

  > .aside-right {
    left: @aside-size;
  }

}

.aside-container.is-aside-big {

  > .aside-left, > .aside-right {
    width: @aside-size-big;
  }

  > .aside-right {
    left: @aside-size-big;
  }

}


.aside-container.has-aside-right {

  > .aside-front {
    border-left: 1px solid rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: -1px 0px 20px 0 rgba(0,0,0,0.8);
  }

}

.aside-container.has-aside-left {

  > .aside-front {
    border-right: 1px solid rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 1px 0px 20px 0 rgba(0,0,0,0.8);
  }

}

.aside-container.is-aside-right > .aside-front {
  left: @aside-size*-1;
}

.aside-container.is-aside-left > .aside-front {
  left: @aside-size;
}

.aside-container.is-aside-big.is-aside-right > .aside-front {
  left: @aside-size-big*1;
}

.aside-container.is-aside-big.is-aside-left > .aside-front {
  left: @aside-size-big;
}
