{{#with view}}

	<div class="transparency-empty">

		<div class="image-empty"></div>

		<div class="empty-text">

			{{content}}

		</div>

		{{#if includeAction }}

			{{view Yn.MainButtonView class="empty-button is-blue"
				contentI18n=messageAction
				action=messageAction }}

		{{/if}}

		<div class="space by-one"></div>

	</div>

{{/with}}