<div id="mini-spinner-canvas">
	<div id="bar1" class="bar"></div>
	<div id="bar2" class="bar"></div>
	<div id="bar3" class="bar"></div>
	<div id="bar4" class="bar"></div>
	<div id="bar5" class="bar"></div>
	<div id="bar6" class="bar"></div>
	<div id="bar7" class="bar"></div>
	<div id="bar8" class="bar"></div>
</div>
<div id="mini-spinner-text">
	{{I18n loading}}
</div>