{{#with view}}

	<div class="transparency">
        
		<div class="popup">
        
			<div class="popup-text">

				{{content}}

      </div>

      <div class="popup-button">

      	{{view Yn.AdaptativeButtonView class="is-black button-text is-small is-font-white" contentI18n="close" action="close"}}

      </div>

		</div>

	</div>   

{{/with}}