
{{#with view}}

	<div class="user-short-block-content">
		
		<div class="user-short-block-content-image inline">
		
			{{view Yn.SquareImageView contentBinding="content" isUp=true class=imagetype }}

		</div>

		<div class="user-short-block-content-name inline">

			{{content.showName}}

			<div class="user-short-block-content-city">

				<div class="icon is-icon-x-small inline" icon="i">

				</div>

				<div class="city-name inline">

					{{content.city.name}}

				</div>

			</div>

		</div>

	</div>

{{/with}}
