@import 'colors';



.action-bar-style (@button-color:white) {


			background-color: @button-color;
  			background-image: -moz-linear-gradient(top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); 
  			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.45)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); 

  			border-top: 1px solid rgba(255,255,255,0.7);
  
  			-webkit-box-shadow: 0 1px 0 0 darken(@button-color, 8%);	

		}	




.action-bar-with-shadow-style (@button-color:white) {


			background-color: @button-color;
  			background-image: -moz-linear-gradient(top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); 
  			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.45)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); 

  			border-top: 1px solid rgba(255,255,255,0.7);
  
  			-webkit-box-shadow: 0 1px 0 0 darken(@button-color, 30%),  0 3px 20px 0 rgba(0, 0, 0, 0.4);	
  				

		}	