@import 'colors';
@import 'borders';


.ui-fill (@button-color:white) {

  background-color: @button-color;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); 
  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.45)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); 


}


.ui-fill-active (@button-color:white) {

  background-color: @button-color;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.45) 100%);
  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0.45)));

}

.ui-fill-border (@button-color:white) {

  .ui-fill(@button-color);
  .ui-border(@button-color);

}

.ui-fill-border-active (@button-color:white) {

  .ui-fill-active(@button-color);
  .ui-border-active(@button-color);

}


// TODO:ale 

.box-press () {

	background-color: rgba(0,0,0,0.3);
	-webkit-box-shadow: none;
	
}


.app-background () {

	background-color: @grey02;
	background-image: url(assets/images/BG.png), -webkit-linear-gradient(0, transparent 40%, rgba(255, 255, 255, 0.3) 40%);
	background-size: 9%;
	
}




.app-background-menu () {

  background-color: #303137;
  background-image: url(assets/images/BG2_50.png), -moz-linear-gradient(top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); 
  background-image: url(assets/images/BG2_50.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.45)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); 


}





.background-white-gradient (@general-color:white) {

	background-color: @general-color;
	background-image: url(assets/images/BG.png), -moz-linear-gradient(top, rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.5) 75%, rgba(255,255,255,0.3) 100%); 
	background-image: url(assets/images/BG.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.75)), color-stop(50%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); 

	border-top: 1px solid lighten(@general-color, 25%);
	border-bottom: 1px solid darken(@general-color, 30%);

	-webkit-box-shadow: inset 0 -1px 0 0 darken(@general-color, 9%);



}





.background-light-white-gradient  (@general-color:white) {

	background-color: @general-color;
	background-image: url(assets/images/BG.png), -moz-linear-gradient(top, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 100%); 
	background-image: url(assets/images/BG.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(50%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0))); 

	/*
	border-top: 1px solid lighten(@general-color, 25%);
	border-bottom: 1px solid darken(@general-color, 30%);

	-webkit-box-shadow: inset 0 -1px 0 0 darken(@general-color, 9%);
	*/



}







.background-light-white-gradient-with-shadow  (@general-color:white) {

	background-color: @general-color;
	background-image: url(assets/images/BG.png), -moz-linear-gradient(top, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 100%); 
	background-image: url(assets/images/BG.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(50%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0))); 

	
	border-top: 1px solid lighten(@general-color, 25%);
	border-bottom: 1px solid darken(@general-color, 30%);

	-webkit-box-shadow: inset 0 -1px 0 0 #cecece, 0 0px 0px 1px rgba(0,0,0,0.2), 0 0 10px 0 rgba(0,0,0,0.3);
	


}









