@import 'colors';


.app-background {

	background-color: @grey02;
	background-image: url(assets/images/BG.png), -webkit-linear-gradient(0, transparent 40%, rgba(255, 255, 255, 0.3) 40%);
	background-size: 9%;
	
}