@import 'sizes';

/*.box-small-padding-style {

	padding-left: @box-title-padding-horizontal;
	padding-right: @box-title-padding-horizontal;
	padding-top: @box-title-padding-vertical;
	padding-bottom: @box-title-padding-vertical;

}
*/
.box-padding-style {

	padding-left: @box-padding-horizontal;
	padding-right: @box-padding-horizontal;
	padding-top: @box-padding-vertical;
	padding-bottom: @box-padding-vertical;

}



.box-nearby-padding-style {

	padding-left: @box-padding-horizontal - 2;
	padding-right: @box-padding-horizontal - 2;
	padding-top: @box-padding-vertical - 3;
	padding-bottom: @box-padding-vertical - 3;

}

/*
.box-big-padding-style {

	padding-left: @box-content-padding-horizontal;
	padding-right: @box-content-padding-horizontal;
	padding-top: @box-content-padding-vertical;
	padding-bottom: @box-content-padding-vertical;

}
*/

