@import 'sizes';

.box-padding-style () {

	padding-left: @box-padding-horizontal;
	padding-right: @box-padding-horizontal;
	padding-top: @box-padding-vertical;
	padding-bottom: @box-padding-vertical;

}

.box-padding-vertical () {

	padding-top: @box-padding-vertical;
	padding-bottom: @box-padding-vertical;

}

.box-padding-horizontal () {
	padding-left: @box-padding-horizontal;
	padding-right: @box-padding-horizontal;
}
