@import 'colors';
@import 'sizes';

//--------------------------------STYLES-------------------------------------//

.letter-press () {
	text-shadow: 0 -1px 0px rgba(0,0,0,0.5);
}

.lower-glow () {
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.65);
}

//--------------------------------CLASSES-------------------------------------//



.ipad-hello-container-text-style () {

	font-size: @font-big * 2;
	color:@pure-white;
	font-weight: bold; 
	text-shadow: 0 -1px 0px rgba(0,0,0,0.4), 0 1px 0px darken(@orange01, 3%);

}

.header-text-style () {
	
	font-size: @font-big;  
	color:@pure-white;
	font-weight: bold;  
	text-shadow:0 1px 1px @pure-black;
}

.header-subtext-style () {

	font-size: @font-normal;  
	color:@black00;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 0.55);

}

.input-text-style () {
	font-size: @font-normal;  
	color: @grey12;
}

.user-message-text-style () {
	font-size: @font-small;
	font-weight: bold;  
	color:@pure-white;
	text-shadow:0 1px 1px @pure-black;
}

.state-text-style () {
	font-size: @font-normal;
	font-style: italic; 
	color:@white00;
	text-shadow:0 1px 1px @pure-black;   
}

.alert-text-style () {
	font-size: 18px;
	.text-is-font-low-grey-style;
	.text-is-font-bold-style;
	.text-is-font-italic-style;
}

.big-alert-text-style () {
	font-size: 26px;
	.text-is-font-low-grey-style;
	.text-is-font-bold-style;
	.text-is-font-italic-style;
}

.button-text-style () {
	font-weight: bold;
}

.button-text-is-small-style () {
	font-size: @font-small;
}

.button-text-is-big-style () {
	font-size: @font-big-small;
}

.text-style () {	
	font-size: @font-normal;
}

.text-is-font-bold-style () {
	font-weight: bold;
}

.text-is-font-italic-style () {
	font-style: italic;
}

.text-is-small-style () {

	font-size: @font-small;
}

.text-is-smallest-style () {

	font-size: @font-smallest;
}

.text-is-big-style () {

	font-size: @font-big-small;
	font-weight: bold;
}

.text-is-ipad-big-style () {

	font-size: @font-biggest;
	font-weight: bold;
}


//NoFX-----------------------

.text-is-font-white-style () {
	color:@pure-white;
}


.text-plain-is-font-black-style () {	
	
	color:@black00;

}

.text-plain-is-font-grey-style () {	
	
	color:@grey12;

}


//Buttons-----------------------


.button-text-is-font-white-style () {
	color:@pure-white;
	.letter-press;
}

.button-text-is-font-black-style () {
	
	color:@black00;
	.lower-glow;
}


.button-text-is-font-disabled-style () {
	color:@grey04;
	.letter-press;
}

.button-text-is-font-grey-style () {
	
	color:@grey12;
	.lower-glow;
}


//Text-----------------------


.text-is-font-black-style () {
	
	color:@black00;
	.lower-glow;

}


.text-is-font-grey-style () {
	
	color:@grey12;
	.lower-glow;
}


.text-is-font-low-grey-style () {
	
	color:@grey09;
	.lower-glow;
}



.text-is-font-orange-style () {
	
	color:@orange02;
	.lower-glow;
}

.text-is-font-disabled-style () {
	color:@grey04;
	.lower-glow;
}
