@import 'colors';
@import 'sizes';
@import 'textstyles';

@box-shadow: @border-line-size*4;

.box {

	background-color: @white00;
	background-image: url(assets/images/BG_25.png);
	border-radius: @border-box-radius-size;
	margin: 0 3.125%;
	border-top: @border-line-size solid rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: 0 0 0 @border-line-size @grey09, 0 @box-shadow @box-shadow 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 0 @border-line-size @grey09, 0 @border-line-size @box-shadow 0 rgba(0, 0, 0, 0.3	);

	> .box-title {
		
		background-color: @grey01;
		.text-is-font-grey-style;
		/*padding-left: @box-title-padding-horizontal;
		padding-right: @box-title-padding-horizontal;
		padding-top: @box-title-padding-vertical;
		padding-bottom: @box-title-padding-vertical;*/
		
	}

	> .box-title-top {
		
		border-top-left-radius: @curve-size;
		border-top-right-radius: @curve-size;
		border-bottom: 1px solid rgba(255, 255, 255, 0.7);
		-webkit-box-shadow: inset 0 -(@border-line-size) 0 0 @grey09;
		

	}

	> .box-title-bottom {
		
		border-bottom-left-radius: @curve-size;
		border-bottom-right-radius: @curve-size;
		border-top: @border-line-size solid @grey09;
		-webkit-box-shadow: inset 0 @border-line-size 0 0 rgba(255, 255, 255, 0.7);
		
	}

	> .box-content {
		
		/*padding-left: @box-title-padding-horizontal;
		padding-right: @box-title-padding-horizontal;
		padding-top: @box-title-padding-horizontal;
		padding-bottom: @box-title-padding-horizontal / 2;*/
		
	}

	> .box-content.is-text {
		
		/*padding-left: @box-content-padding-horizontal;
		padding-right: @box-content-padding-horizontal;
		padding-top: @box-content-padding-vertical;
		padding-bottom: @box-content-padding-vertical;*/
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;

	}

}
