@import 'colors';
@import 'sizes';

@default-padding: 0.7em;

.box {

	background-color: @white00;
	color: @grey08;
	border: @border-line-size solid @grey10;
	border-radius: @border-box-radius-size;
  margin: 0 1.2em;

  > .box-title {
		background-color: @grey01;
		border-top: @border-line-size solid @white00;
		border-bottom: @border-line-size solid @grey09;
		padding: @default-padding;
	}

	> .box-title-top {
		border-top-left-radius: @curve-size;
		border-top-right-radius: @curve-size;
	}

	> .box-title-bottom {
		border-bottom-left-radius: @curve-size;
		border-bottom-right-radius: @curve-size;
	}

	> .box-content {
		border-bottom: 1px solid @grey09;
		padding: @default-padding;
		line-height: 1.2em;
	}

	> .box-content-with-title-top {
		border-top: @border-line-size solid @grey09;
	}

	> .box-content-with-title-bottom {
		border-bottom: @border-line-size solid @grey09;
	}

}
