@import 'sizes';
@import 'textstyles';
@import 'aligns';


.empty-view {

  background-image: url(assets/images/empty_image.png);
  background-repeat: no-repeat;
  background-size: 100%;

}

.empty-text {
  text-align: center;
}


