@import 'sizes';
@import 'colors';

//--------------------------------COLORES-------------------------------------//


@orange_header_00:rgba(255,255,255,0.7);
@orange_header_01: #fd6d35;
@orange_header_02: #84391c;

@orange_light_header_button:#feb288;


//--------------------------------GRADIENTES-------------------------------------//


.header_gradient() {
  
  background-color: @orange_header_01;
  background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.45)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  
}




//--------------------------------SOMBRAS-------------------------------------//


.button_shadow (@border_color:white, @shadow_color_00:white, @shadow_color_01:white, @thick_border:1px, @thick_s1:1px, @thick_s2:2px) { 

  //shadows and border


  border-top: @thick_border solid @border_color;
  
  -webkit-box-shadow: 0 0 0 @thick_s1 (@shadow_color_00), 0 @thick_s2 0 0 (@shadow_color_01);
  box-shadow: 0 0 0 @thick_s1 (@shadow_color_00), 0 @thick_s2 0 0 (@shadow_color_01);

}



//-----------------------------------------------------------------------------//

@header-height: 42px;
@header-style-color: @orange01;

.header {
	
	position: relative;
	height: @header-height;
	width: 100%;

	border-top-left-radius: @border-box-radius-size;
	border-top-right-radius: @border-box-radius-size;

	background-color: @header-style-color;
	background-image: url(assets/images/BG2.png), -moz-linear-gradient(top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background-image: url(assets/images/BG2.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.45)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */

	border-top: 1px solid lighten(@header-style-color, 30%);
	border-bottom: 1px solid darken(@header-style-color, 30%);

	-webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);

	
	
	> .header-title {
		
    text-align: center;
		font-size: @font-big;
    color: white;
		text-shadow:0 1px 1px @pure-black;
    line-height: @header-height;
	
  }

	> .header-title.is-subtitle {

    line-height: (@header-height/2)+2px;

  }

	> .header-subtitle {
		
    text-align: center;
		font-size: 12px;
    color: @pure-black;
	
  }


  > .l-left {

    position: absolute;
    top: @margin-header-size;
    left: @margin-header-size;

 }

  > .l-right {

    position: absolute;
    top: @margin-header-size;
    right: @margin-header-size;

  }
	
}


