@import 'sizes';
@import 'colors';
@import 'textstyles';
@import 'radius';
@import 'gradients';
@import 'borders';




@header-style-color: @orange01;



.header {
	
	position: relative;
	height: @header-height;
	width: 100%;

	//This property implies that all element are behind of this element (by default)
	z-index: 1;

	border-top-left-radius: @border-box-radius-size;
	border-top-right-radius: @border-box-radius-size;


	.ui-fill (@header-style-color);
	.ui-border-wrapper (@header-style-color);
	.ui-border-wrapper-small-shadow (@header-style-color);
	
	

	> .brand-container {
		// same than ipad
		margin: 0 auto;
		margin-top: 5px;
		width: 65px;
		height: 30px;
		background-size: 65px 30px;

	}
	
	
	> .header-title {
		
    text-align: center;
    line-height: @header-height;

    .header-text-style;
	
  }

	> .header-title.is-subtitle {

    line-height: (@header-height/2)+2px;

  }

	> .header-subtitle {
		
    text-align: center;

    .header-subtext-style;
	
  }


  > .l-left {

    position: absolute;
    top: @margin-header-size;
    left: @margin-header-size;

 }

  > .l-right {

    position: absolute;
    top: @margin-header-size;
    right: @margin-header-size;

  }
	
} 



.header.without-shadow {

	.ui-border-wrapper (@header-style-color);

}





.header.with-small-shadow {

	//.ui-border-wrapper-small-shadow (@header-style-color);
	

}



.header.with-big-shadow {

	.ui-border-wrapper-small-shadow 
}







