@import 'animations';
@import 'textstyles';
@import 'colors';


.notification-style (@color:white) {

	background-color: @color;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.45)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); 
	border-top: 1px solid rgba(255,255,255,0.7);  
	-webkit-box-shadow: inset 0 -1px 0 0 darken(@color, 30%), 0 4px 10px 0 rgba(0, 0, 0, 0.4);	

}

// -------------------------- function calls

.notification {

	position: absolute;

	//display: block;
	//display: table;
	//overflow: hidden;
	width: 100%;
	height: 30px;
	z-index: 1;
	overflow: hidden;

	border-bottom-left-radius: @border-box-radius-size/2;
	border-bottom-right-radius: @border-box-radius-size/2;
    
	-webkit-transition: height @notification-time-animation-style @notification-animation-style;
	-webkit-transform:translate3d(0,0,0);
    
	.notification-text {

		text-align: center;
		line-height: 30px;
		-webkit-transition: line-height @notification-time-animation-style;
		-webkit-transform:translate3d(0,0,0);
		overflow:hidden;
		.user-message-text-style;

	}

}

.notification.is-hidden {

	height:0px;

	.notification-text {

		line-height: 0px;

	}

}

.notification.is-info {

  .notification-style(@blue00);
   
}

.notification.is-error {

  .notification-style(@grey16);
   
}

.notification.is-succeed {

  .notification-style(@green02);
   
}
