@import 'sizes';
@import 'colors';
@import 'aligns';
@import 'radius';


@-webkit-keyframes spin {  
from {  
    -webkit-transform: rotate(0deg);  
}  
to {  
    -webkit-transform: rotate(360deg);  
    }  
}  

@spinner-height: 110px;
@spinner-width: 108px;

.spinner {

  > .spinner-square {

    //http://stackoverflow.com/questions/743123/fixed-positioning-in-mobile-safari
    //http://developer.apple.com/library/ios/#technotes/tn2010/tn2262/_index.html

    background-color: rgba(0,0,0,0.6);
    border-radius: @border-box-radius-size;

    background-image: url('./assets/images/logo-spinner.png'); 
    background-repeat: no-repeat;
    background-size: 100%;



     > .spinner_circle_out {

        position: relative;
        height: 59%;
        width: 61%;
        left: 19.5%;
        top: 20.5%;
      
        
        background-image: url('./assets/images/spinner.png'); 
        background-repeat: no-repeat;
        background-size: 100%;


        -webkit-animation-name: spin;  
        -webkit-animation-iteration-count: infinite;  
        -webkit-animation-timing-function: linear;  
        -webkit-animation-duration: 0.8s;   

      }

  }

}

.spinner:not(.is-relative) {

  > .spinner-square {

    .center_align (@spinner-height, @spinner-width, absolute);
    z-index: 1000;

  }

  > .spinner-text {
    
    .center_width (@spinner-width);
    top: 50%;
    margin-top: 60px;

  }

}


.spinner.is-relative {

  > .spinner-square {
    height: @spinner-height;
    width: @spinner-width;
    margin: 0 auto;
  }

  > .spinner-text {
    margin-top: 4px;
  }

}

.spinner.is-vertical-center {

  > .spinner-square {
    margin-top: 0px;
  }

}
