@import 'colors';
@import 'sizes';
@import 'textstyles';



@price_radius:@border-radius * 30;


.price-label-style (@button-color:white) {

  background-color: @button-color;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0.45) 0%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.45)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); 

  box-shadow:inset 0px 1px 1px darken(@button-color, 4%), 0px 1px 1px @white00;


}





.price-label {
    
    
    padding: 3px 7px;

    /*border-radius*/

    -webkit-border-radius:@price_radius;
            border-radius:@price_radius;
    
    float:right;



     .price-label-style (@blue00);



    //Font-----------------------

    .text-style; 
    .button-text-style;
    .button-text-is-font-white-style;



}
