@import 'colors';
@import 'sizes';
@import 'textstyles';



@price_radius: 30em;


.price-label-style (@button-color:white) {

  background-color: @button-color;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 70%, rgba(255,255,255,0.2) 100%); 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,0.1)), color-stop(100%,rgba(255,255,255,0.2))); 

  box-shadow:inset 0px 1px 1px darken(@button-color, 16%), 0px 1px 1px @white00;

}

.price-label {
    

    -webkit-border-radius: @price_radius;
            border-radius: @price_radius;
    

   .price-label-style (@blue00);



    //Font-----------------------
    padding: 3px 9px;
    white-space: nowrap;
    height: 20px;
    text-align: center;

    .button-text-is-big-style;
    .button-text-style;
    .button-text-is-font-white-style;



}


.price-label.is-small {

  .button-text-is-small-style;
  height: 15px;

}
