.scroll-bottom {
  height: 0.5em;
}


.scroller {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.scroller-container {
  // because of SpinnerView: absolute
  height: 100%;
}

.fix-scrolling-touch {

  -webkit-transform: translateZ(0px);

}
