/***NEW COLORS***/

//@orange00:rgba(255,255,255,0.7);

// otros 
// f72c27, f8312c, ( mas usado f8312c )

@orange01: #fa2d28;
//@orange01: #fd6d35;
@orange02: #84391c;


//@orange_light_header_button:#feb288;

@pure-white: #ffffff;
@white00:#f2f2f2;

@pure-black: #000000;
@black00:#333333;


@grey00:#eeeeee;
@grey01:#e5e5e5;
@grey02:#dcdcdc;
@grey03:#d2d2d2;
@grey04:#c9c9c9;
@grey05:#bfbfbf;
@grey06:#b5b5b5;
@grey07:#aaaaaa;
@grey08:#a0a0a0;
@grey09:#959595;
@grey10:#898989;
@grey11:#7d7d7d;	
@grey12:#707070;
@grey13:#626262;
@grey14:#535353;
@grey15:#434343;
@grey16:#313131;
@grey17:#1b1b1b;

@grey-menu:#303137;
@grey-new-bg:#e0e0de;

@blue00:#3c7fbd;
@blue01:#254f75;

@blue-facebook: #3c5a98;
@blue-twitter: #0098d1;

@green01:#a5cf4b;
@green02:#8CB631;


@red00: @orange01;
//@red00:#E22222;
@red-clear: #E3d3d3;


@pink01:#f3465a;

@yellow01: #f8e200;
@yellow-clear: #FFFFEA;

@purple01:#d480d9;
@purple02:#cf56ba;

@brown01:#a59994;

@coffeebrown:#d25a2c;

@skyblue:#5ad4d5;


