
// this should be moved to Yvi
@header-height: 42px;
@header-action-height: 40px;
@footer-height: 49px;


@header-button-height: 31px;



// lists
@list-item-height: 3.5em;

// borders
@border-radius: 1em;
@border-detail-size: 0.2em;
@border-line-size: 1px;
@border-box-radius-size: 10px;
@border-subbox-radius-size: 5px;

// border buttons
@border-button-out: 2.3em;
@border-button-in: 2.0em;
@button_rounded_header-margin: 4%;
@border-button-radius-size: 2px;


// depends on body font size inheritance
@font-smallest: 11px;
@font-small: 12px;
@font-normal: 14px;
@font-big-small: 16px;
@font-big: 18px;



@text-indent-big: 1em;

@size-small-space: 1em;
@size-normal-space: 2em;
@size-big-space: 3em;

@size-square-image-is-big: 55px;
@size-square-image-is-normal: 44px;
@size-square-image-is-small: 29px;
@size-square-image-is-x-small: 25px;


// notifications
@notification_after_border: 0.5em;
@notification_before_border: @notification_after_border + 0.1em;


//Boxes
@curve-size: 0.8em;


//buttons
@map-button-size: 40px;

@invite-button-width: 242px*0.6;
@invite-button-height: 108px*0.6;


@invite-button-small-width: 160px*0.6;
@invite-button-small-height: 86px*0.6;

@invite-button-small-width: 96px;
@invite-button-small-height: 52px;

@circle-button-size: 40px;

@switch-button-height: 40px;
@switch-button-width: 80px;
