
// lists
@list-item-height: 3.5em;


// depends on body font size inheritance
@font-smallest: 11px;
@font-small: 12px;
@font-normal: 14px;
@font-big-small: 16px;
@font-big: 18px;
@font-biggest:20px;


// depends on body font size inheritance
@size-square-image-is-big: 53px;
@size-square-image-is-normal: 42px;
@size-square-image-is-small: 28px;
@size-square-image-is-x-small: 23px;


//Header
@header-height: 42px;
@margin-header-size: 6px;


//Boxes
@box-padding-horizontal: 10px;
@box-padding-vertical: 8px;


@box-content-interaction-indent: 15px;


//Base space (jump)
@size-one-space: 11px;


//buttons sizes and some inputs
@standard-button-height: 30px;

// used in large buttons and inputs
@big-button-height: 48px;


// plus button - toogle circle
@circle-button-size: 30px;
