
// lists
@list-item-height: 3.5em;

// borders
@border-box-radius-size: 10px;

// border buttons
@border-button-radius-size: 3px;


// depends on body font size inheritance
@font-smallest: 11px;
@font-small: 12px;
@font-normal: 14px;
@font-big-small: 16px;
@font-big: 18px;
@font-biggest:20px;

//Header
@margin-header-size: 6px;

//Boxes
@box-padding-horizontal: 10px;
@box-padding-vertical: 8px;


@box-content-interaction-indent: 15px;


//Base space (jump)
@size-one-space: 11px;



// notifications
@notification_after_border: 0.5em;
@notification_before_border: @notification_after_border + 0.1em;



//buttons sizes and some inputs
@standard-button-height: 30px;

// used in large buttons and inputs
@big-button-height: 46px;
@big-button-width: 82.5%;


// plus button - toogle circle
@circle-button-size: 30px;
