@import 'sizes';

.text.is-not-box.l-right {
  text-align: right;
  margin-right: @box-padding-horizontal + 1px;
}

.text.is-not-box.l-left {
  text-align: left;
  margin-left: @box-padding-horizontal + 1px;
}

.l-fit {

	position:absolute; 
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;

}

.l-wrapper {

  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden; 

}

.l-footer {

	position:absolute; 
	bottom: 0; 
  left: 0;
  width: 100%;

}

.center {
	text-align: center;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}


/*** TWO COLUMN TABLE DEFINITION ***/

.two-column-table {
	display: table;
	position: relative;
	width:100%;
	
	> .left-column {
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	}
	
	> .right-column {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
	
}

/*** THREE COLUMN TABLE DEFINITION ***/

.three-column-table {
	display: table;
	position: relative;
	width:100%;
	
	> .left-column {
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	}

	> .middle-column {
		display: table-cell;
		vertical-align: middle;
		text-align: left;
	}

	> .middle-column.is-right {
		text-align: right;
  }
	
	> .right-column {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
	
}


