@import 'sizes';
@import 'colors';
@import 'gradients';
@import 'landing';
@import 'radius';

.screen {

	position:absolute; 
	left:0;
	top: 0; 
	bottom: 0; 
	height:100%;
	width:100%;

	overflow: hidden;


	//This line allows to show black app background in corners
	border-radius: @border-box-radius-size;

	.screen-container {
		position: relative;
		width: 100%;
    
    // background-image does not apply to the rootView
    // because the transition flicks/lag if the
    // transitioned element has background-image
    // http://stackoverflow.com/questions/3461441/prevent-flicker-on-webkit-transition-of-webkit-transform
    .app-background;
		
	}
	
}


.screen.landing-screen {

	background-size: 100%;
	.landing-style;

}
