@import 'sizes';
@import 'colors';

.screen {

	position:absolute; 
	left:0;
	top: 0; 
	bottom: 0; 
	height:100%;
	width:100%;

	overflow: hidden;

	
	background-color: @grey02;
	background-image: url(assets/images/BG.png), -webkit-linear-gradient(0, transparent 40%, rgba(255, 255, 255, 0.3) 40%);
	background-size: 9%;

	//This line allows to show black app background in corners
	border-radius: @border-box-radius-size;

	> .screen-container {
		position: relative;
		//position: absolute; before
		width: 100%;

		/*min-height: dinamically*/
    //min-height: 460px - @header-height - @footer-height;

		
	}

  > .screen-container.is-header-action {

		/*min-height: dinamically*/
    //min-height: 460px - @header-height - @header-action-height - @footer-height;

  }
	
}
