@import 'sizes';

.space.by-half {
	height: @size-one-space/2;
}

.space.by-one {
	height: @size-one-space;
}

.space.by-two {
	height: @size-one-space*2;
}

.space.by-three {
	height: @size-one-space*3;
}

.space.by-four {
	height: @size-one-space*4;
}

.space.by-five {
	height: @size-one-space*5;
}

.space.by-six {
	height: @size-one-space*6;
}

.space.by-seven {
	height: @size-one-space*7;
}

.space.by-eight {
	height: @size-one-space*8;
}

.space.by-nine {
	height: @size-one-space*9;
}

.space.by-ten {
	height: @size-one-space*10;
}

.space.by-eleven {
	height: @size-one-space*11;
}

