@import 'colors';
@import 'paddings';
@import 'gradients';

.is-opaque {
  opacity: 0.5;
}

.display-none {
	display: none;
}

.space-nowrap {
  white-space: nowrap;
}

.is-flat-bg {
  background-color: @grey01;
}

.is-menu-bg {
	.app-background-menu;
}


.box-padding {
  .box-padding-style;
}
