@import 'borders';
@import 'sizes';
@import 'colors';

.square-skin (@size) {

  height: @size;
  width: @size;
  border-radius: (0.05454*@size); 
  background-size: @size;

}


.square-image {

}


.square-image.with-icon {

	.border-square-style;

  > .square-image-bg {

    width: 100%;
    height: 100%;

    background-image: -webkit-gradient(linear, left top, right bottom, 
      color-stop(0%, rgba(255, 255, 255, 0.3)), 
      color-stop(49%, rgba(255, 255, 255, 0.15)), 
      color-stop(51%, rgba(255, 255, 255, 0)));

  }


}


.square-image.with-icon.is-selected {

  .border-square-selected-style;

   > .square-image-bg {

    background-image: -webkit-gradient(linear, right bottom, left top,
      color-stop(0%, rgba(255, 255, 255, 0.3)), 
      color-stop(49%, rgba(255, 255, 255, 0.15)), 
      color-stop(51%, rgba(255, 255, 255, 0)));

  }
}


.square-image.with-photo {

   .border-square-photo-style;

}


.square-image.with-photo.is-selected {

    .border-square-photo-selected-style;
}





.square-image.with-icon.is-big, .square-image.with-photo.is-big {

	.square-skin (@size-square-image-is-big);

}  

.square-image.with-icon.is-normal, .square-image.with-photo.is-normal {

	.square-skin (@size-square-image-is-normal);
}  


.square-image.with-icon.is-small, .square-image.with-photo.is-small {

	.square-skin (@size-square-image-is-small);

}  


.square-image.with-icon.is-x-small, .square-image.with-photo.is-x-small {

	.square-skin (@size-square-image-is-x-small);

}


// resource is loading

.square-image.with-icon.is-loading, .square-image.with-photo.is-loading {
  
  
  background-image: url(assets/images/user_default.png);
 


}
















