@import 'borders';
@import 'colors';



//------------

@size-square-image-is-big: 53px;
@size-square-image-is-normal: 42px;
@size-square-image-is-small: 28px;
@size-square-image-is-x-small: 23px;
@size-square-image-is-special1: 41px;

.square-skin (@size) {

  height: @size;
  width: @size;
  background-size: @size @size;

  border-radius: (0.09*@size); 

}
//---------

.square-image {

  background-image: url(assets/images/user_default.png);

  > .square-image-bg {

    > .square-image-effect {

      width: 100%;
      height: 100%;

    }

  }

}

.square-image.with-icon {

	.border-square-style;

}

.square-image.with-icon.is-selected {

  .border-square-selected-style;

}









// effect does not works
.square-image.with-webfont {

	.border-square-style;
	position: relative;

   > .square-image-bg {
   
    position: absolute;
    top: 3px;
    left: 3px;

    > .square-image-effect {
      background: transparent;
    }

   }

   > .square-image-bg.icon:before {

    content: attr(icon2);
    color: white;

   }

}

.square-image.with-webfont.is-selected {
   > .square-image-bg {
    > .square-image-effect {
      background: transparent;
    }
  }
}

.square-image.is-plus {

  background-image: url(assets/buttons/see_all_button.png);

}


.square-image.with-photo {

   .border-square-photo-style;

}


.square-image.with-photo.is-selected {

    .border-square-photo-selected-style;
}


.square-image.with-channel {

   .border-square-channel-style;

}


.square-image.touchable:active, .square-image.touchable.is-pending, .square-image.touchable.touch {

  .border-square-selected-style;

}

//--------------SIZES------------------------------



.square-image.is-big {

	.square-skin (@size-square-image-is-big);

  > .square-image-bg {
    .square-skin (@size-square-image-is-big);
  }

}  

.square-image.is-normal {

	.square-skin (@size-square-image-is-normal);

  > .square-image-bg {
    .square-skin (@size-square-image-is-normal);
  }
}  


.square-image.is-small {

	.square-skin (@size-square-image-is-small);

  > .square-image-bg {
    .square-skin (@size-square-image-is-small);
  }

}  


.square-image.is-x-small {

	.square-skin (@size-square-image-is-x-small);

  > .square-image-bg {
    .square-skin (@size-square-image-is-x-small);
  }

}


.square-image.is-special1 {

	.square-skin (@size-square-image-is-special1);

  > .square-image-bg {
    .square-skin (@size-square-image-is-special1);
  }

}

