@font-face {

	font-family: 'Yoin Icons';
	src: url('assets/fonts/icons2.ttf');

}


@font-face {

	font-family: 'Yoin Icons Baseline';
	src: url('assets/fonts/icons2_baseline.ttf');

}


@normal-size: 24px;
@normal: 32; 

.icon:before, .icon-after:after {

	font-size: (32/@normal)*@normal-size;
	font-family: 'Yoin Icons';
	content: attr(icon);
	-webkit-font-smoothing: antialiased;
  text-decoration: none;

}

.icon.with-text:before, .icon-after.with-text:after {

	font-size: (32/@normal)*@normal-size;
	font-family: 'Yoin Icons Baseline';
	content: attr(icon);
	-webkit-font-smoothing: antialiased;
  text-decoration: none;

}


.icon.is-icon-x-big:before, .icon-after.is-icon-x-big:after {

	font-size: (74/@normal)*@normal-size;
	
}

.icon.is-icon-big:before, .icon-after.is-icon-big:after {

	font-size: (45/@normal)*@normal-size;

}


.icon.is-icon-small:before, .icon-after.is-icon-small:after {

	//font-size: (25/@normal)*@normal-size;
	font-size: 17px;

}

.icon.is-icon-x-small:before, .icon-after.is-icon-x-small:after {

	//font-size: (21/@normal)*@normal-size;
	font-size: 14px;

}
