@import 'textstyles';
@import 'aligns';

.empty-view {
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.empty-text {
  .alert-text-style;
	margin: 0 3.125%;
}


.empty-view.is-absolute {
  position: absolute;
  top: 50%;
  margin-top: (-1/2)*100px;
}

.empty-text.is-absolute {
  position: absolute;
  top: 50%;
  margin-top: 60px;
}

.empty-view.is-absolute.is-vertical-center {
  margin-top: 110px;
}
