{{#with view}}

	<div class="transparency">
        
		<div class="popup-block">
        
			<div class="popup-text">

				{{content}}

      </div>

      <div class="popup-button">

        {{view Yn.AdaptativeButtonView class="is-black button-text is-small is-font-white" 
          contentI18n="close" actionBinding="action"}}

      </div>

		</div>

	</div>   

{{/with}}
