@import 'colors';
@import 'sizes';
@import 'radius';

@text-indent: 15px;

.big-input-font-type() {
  font-size: @font-normal;
  color: @grey12;

}

.big-input-content {

	margin: 0px auto;
	//The WIDTH is in the Media Query Files
	border-radius: @border-box-radius-size + 1;
	border-top: 1px solid @grey04;
	-webkit-box-shadow: 0 0 0 1px (@orange02), 0 2px 0 0 (rgba(255,255,255,0.6));
	
	
	> .big-input, > .big-input:focus {

		width: 100%;
		height: @big-button-height - 2px;
		-webkit-appearance: none;
		border: none;
		padding: 0px;
		background-color: @pure-white;
		border-top: 1px solid @grey03;
		border-radius: 0px;
		outline: none;
    .big-input-font-type;

    text-indent: @text-indent;

    &::-webkit-input-placeholder {

      .big-input-font-type;

      // TODO; android bug
      text-indent: @text-indent;

    }

	}

	> .big-input.up {

		border-top-left-radius: @border-box-radius-size;
		border-top-right-radius: @border-box-radius-size;
		border-bottom: none;
		border-top: none;

	}
	
	> .big-input.down {

		border-bottom-left-radius: @border-box-radius-size;
		border-bottom-right-radius: @border-box-radius-size;
		border-bottom: none;

	}

}
